:host {
    .character-portrait {
        background-color: #222;
        height: 200px;
        overflow: hidden;
        position: relative;
        display: block;
        background-size: cover;
        background-position: center;
    }
}