<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quests</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="boxed">
    <ng-container *ngIf="(quests$ | async) as quests; else loading">
      <ng-container *ngIf="(quests | visible).length; else empty">
        <ng-container *ngFor="let quest of quests | visible;">
          <app-quest-card [quest]="quest"></app-quest-card>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="(campaign$|async)?.isMaster">
    <ion-fab-button (click)="create()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #loading>
  <div class="empty">loading quests...</div>
</ng-template>
<ng-template #empty>
  <div class="empty">No quests were found</div>
</ng-template>