<ion-header>

  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Show to players</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <!-- <md-editor name="Content" [(ngModel)]="content" [height]="'200px'">
    </md-editor> -->

    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>