// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
  .boxed {
    max-width: 500px;
    margin: 0 auto;
  }
}

.empty {
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
  color: #666;
}

ion-card {
  border-radius: 15px 0 15px 0 !important;
  border-top: solid 3px var(--ion-color-secondary-tint);
  border-left: solid 3px var(--ion-color-secondary-tint);
  border-bottom: solid 3px var(--ion-color-secondary-shade);
  border-right: solid 3px var(--ion-color-secondary-shade);
  background: var(--ion-color-secondary) !important;
}

ion-list {
  background: var(--ion-color-dark) !important;
}